.exp-container {
    margin-left: 250px;
    background-color: black;
    color: white;

}

.exp-header {
    text-align: center;
}


.wrapper {
    margin: 40px;
}

.expo-description {
    margin-top: 50px;
    padding-right: 100px;
}